In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-10-02 15:34:31,-24.8667,113.6333,64.47,72,40,13.80
1,1,Cape Town,ZA,2021-10-02 15:30:55,-33.9258,18.4232,61.11,49,75,3.00
2,2,Albany,US,2021-10-02 15:33:48,42.6001,-73.9662,69.26,74,91,1.01
3,3,Souillac,MU,2021-10-02 15:34:32,-20.5167,57.5167,74.35,78,75,17.27
4,4,Kango,GA,2021-10-02 15:34:32,0.1943,10.0951,79.00,88,82,5.35

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [31]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kango,GA,2021-10-02 15:34:32,0.1943,10.0951,79.00,88,82,5.35
9,9,Hong Kong,HK,2021-10-02 15:29:51,22.2855,114.1577,86.38,76,11,1.99
15,15,Carmaux,FR,2021-10-02 15:34:36,44.0510,2.1580,76.32,41,64,10.63
19,19,Salalah,OM,2021-10-02 15:34:38,17.0151,54.0924,82.49,83,75,10.36
22,22,Suba,PH,2021-10-02 15:34:39,10.8438,121.0102,83.17,73,100,0.76
25,25,Ponta do Sol,PT,2021-10-02 15:34:40,32.6667,-17.1000,81.01,74,0,1.95
28,28,Santa Marta,CO,2021-10-02 15:32:01,11.2408,-74.1990,87.35,67,53,3.69
30,30,Mooresville,US,2021-10-02 15:34:41,35.5849,-80.8101,78.71,68,4,1.01
31,31,Kloulklubed,PW,2021-10-02 15:34:42,7.0419,134.2556,81.10,78,100,15.79
36,36,São Filipe,CV,2021-10-02 15:34:44,14.8961,-24.4956,79.93,80,40,7.14

In [32]:
preferred_cities_df.count()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [33]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4          Kango      GA     79.00   0.1943   10.0951
9      Hong Kong      HK     86.38  22.2855  114.1577
15       Carmaux      FR     76.32  44.0510    2.1580
19       Salalah      OM     82.49  17.0151   54.0924
22          Suba      PH     83.17  10.8438  121.0102
25  Ponta do Sol      PT     81.01  32.6667  -17.1000
28   Santa Marta      CO     87.35  11.2408  -74.1990
30   Mooresville      US     78.71  35.5849  -80.8101
31   Kloulklubed      PW     81.10   7.0419  134.2556
36    São Filipe      CV     79.93  14.8961  -24.4956

In [37]:
# Set the params
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [39]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kango,GA,79.00,0.1943,10.0951,Hôtel Bar Restaurant Le Bercail
9,Hong Kong,HK,86.38,22.2855,114.1577,Mini Hotel Central
15,Carmaux,FR,76.32,44.0510,2.1580,Café Hôtel Le Gambetta
19,Salalah,OM,82.49,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
22,Suba,PH,83.17,10.8438,121.0102,Casita Bed and Grill
25,Ponta do Sol,PT,81.01,32.6667,-17.1000,Hotel do Campo
28,Santa Marta,CO,87.35,11.2408,-74.1990,Casa de Isabella
30,Mooresville,US,78.71,35.5849,-80.8101,Fairfield Inn by Marriott Charlotte Mooresvill...
31,Kloulklubed,PW,81.10,7.0419,134.2556,Storyboard Beach Resort
36,São Filipe,CV,79.93,14.8961,-24.4956,Hotel Xaguate

In [42]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))