## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,71.22,76,84,14.79,broken clouds
1,1,Bluff,NZ,-46.6000,168.3333,55.80,73,100,5.14,light rain
2,2,Hermanus,ZA,-34.4187,19.2345,51.91,67,42,2.51,scattered clouds
3,3,Yershichi,RU,53.6725,32.7542,38.32,88,60,5.17,broken clouds
4,4,Kudahuvadhoo,MV,2.6708,72.8944,83.07,73,32,12.88,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,71.22,76,84,14.79,broken clouds
4,4,Kudahuvadhoo,MV,2.6708,72.8944,83.07,73,32,12.88,scattered clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,71.78,85,97,12.41,overcast clouds
13,13,Arraial do Cabo,BR,-22.9661,-42.0278,71.10,92,100,9.13,overcast clouds
14,14,Karratha,AU,-20.7377,116.8463,80.35,23,5,8.93,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,73.47,65,0,19.84,clear sky
17,17,Launceston,AU,-41.4500,147.1667,70.61,59,40,3.00,scattered clouds
18,18,George Town,MY,5.4112,100.3354,85.95,81,20,0.00,few clouds
20,20,Japura,ID,-0.3167,102.3500,80.26,77,100,1.41,overcast clouds
21,21,Merauke,ID,-8.4667,140.3333,84.51,66,97,6.55,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                384
City                   384
Country                384
Lat                    384
Lng                    384
Max Temp               384
Humidity               384
Cloudiness             384
Wind Speed             384
Current Description    384
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,71.22,76,84,14.79,broken clouds
4,4,Kudahuvadhoo,MV,2.6708,72.8944,83.07,73,32,12.88,scattered clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,71.78,85,97,12.41,overcast clouds
13,13,Arraial do Cabo,BR,-22.9661,-42.0278,71.10,92,100,9.13,overcast clouds
14,14,Karratha,AU,-20.7377,116.8463,80.35,23,5,8.93,clear sky
15,15,Rikitea,PF,-23.1203,-134.9692,73.47,65,0,19.84,clear sky
17,17,Launceston,AU,-41.4500,147.1667,70.61,59,40,3.00,scattered clouds
18,18,George Town,MY,5.4112,100.3354,85.95,81,20,0.00,few clouds
20,20,Japura,ID,-0.3167,102.3500,80.26,77,100,1.41,overcast clouds
21,21,Merauke,ID,-8.4667,140.3333,84.51,66,97,6.55,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,71.22,broken clouds,-20.3428,57.7575,
4,Kudahuvadhoo,MV,83.07,scattered clouds,2.6708,72.8944,
6,Nouadhibou,MR,71.78,overcast clouds,20.9310,-17.0347,
13,Arraial do Cabo,BR,71.10,overcast clouds,-22.9661,-42.0278,
14,Karratha,AU,80.35,clear sky,-20.7377,116.8463,
15,Rikitea,PF,73.47,clear sky,-23.1203,-134.9692,
17,Launceston,AU,70.61,scattered clouds,-41.4500,147.1667,
18,George Town,MY,85.95,few clouds,5.4112,100.3354,
20,Japura,ID,80.26,overcast clouds,-0.3167,102.3500,
21,Merauke,ID,84.51,overcast clouds,-8.4667,140.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,71.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
4,Kudahuvadhoo,MV,83.07,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
6,Nouadhibou,MR,71.78,overcast clouds,20.9310,-17.0347,El Medina
13,Arraial do Cabo,BR,71.10,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
14,Karratha,AU,80.35,clear sky,-20.7377,116.8463,ibis Styles Karratha
15,Rikitea,PF,73.47,clear sky,-23.1203,-134.9692,People ThankYou
17,Launceston,AU,70.61,scattered clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston
18,George Town,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
20,Japura,ID,80.26,overcast clouds,-0.3167,102.3500,Rumah mbah Jamah
28,Dhidhdhoo,MV,82.76,overcast clouds,6.8833,73.1000,Dhidhoo beach

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))